<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Radio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">  
  <ion-button color="secondary" shape="round" (click)="am()">AM</ion-button>
  <ion-button color="secondary" shape="round" (click)="fm()">FM</ion-button>
  <ion-button color="secondary" shape="round" (click)="mundo()">Mundo</ion-button>


  <ion-card *ngIf="mostrarAM" color="tertiary">
    <ion-card-header>      
      <ion-card-title>Emisoras AM</ion-card-title>
      <ion-card-subtitle>Elegí la que quieras escuchar</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <a href="play"><ion-button expand="block" shape="round">Colonia</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Argentina</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Continental</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Rivadavia</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Belgrano</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Radio 10</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Rebelde</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">750</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Cooperativa</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Mitre</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Nacional</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">La Red</ion-button></a>
    </ion-card-content>  
  </ion-card>


  <ion-card *ngIf="mostrarFM" color="tertiary">
    <ion-card-header>
      <ion-card-title>Emisoras FM</ion-card-title>
      <ion-card-subtitle>Elegí la que quieras escuchar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <a href="play"><ion-button expand="block" shape="round">La tribu</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Radio con Vos</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Vorterix</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Late</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Metro</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Rock & Pop</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Nacional Clásica</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Nacional Folklórica</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Mega</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">La 100</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Aspen</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">Futurock</ion-button></a>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="mostrarMundo" color="tertiary">
    <ion-card-header>
      <ion-card-title>Emisoras del Mundo</ion-card-title>
      <ion-card-subtitle>Elegí la que quieras escuchar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <a href="play"><ion-button expand="block" shape="round">AM 1110 Uruguay</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">FM Siglo XXI Uruguay</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">AM ADN Chile</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">FM Anime Songs Chile</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">AM Radio Andina Bolivia</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">FM Chakaltaya Bolivia</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">AM Cardinal Paraguay</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">FM Mbuyapey Paraguay</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">AM Cidade Brasil</ion-button></a>
      <a href="play"><ion-button expand="block" shape="round">FM Amanda Brasil</ion-button></a>
    </ion-card-content>
  </ion-card>

</ion-content>

