<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title><a href="tabs/tab1"><ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon></a>Radio</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <h1>Escuchando</h1>
  <ion-button shape="round" color="secondary"><ion-icon slot="icon-only" name="play-outline"></ion-icon></ion-button>
  <ion-button shape="round" color="secondary"><ion-icon slot="icon-only" name="pause-outline"></ion-icon></ion-button>
  <ion-button shape="round" color="secondary"><ion-icon slot="icon-only" name="stop-outline"></ion-icon></ion-button>
</ion-content>
